.cardbox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto 0 auto;
  transition: 1s;
  transition: flex 0.3s ease-out
}

.cardbox__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 55em;
  margin: auto;
}

.cardbox__load-more-wrapper {
  transition: flex 0.3s ease-out;
  height: auto;
  flex-basis: 3em;
  overflow: hidden;
  margin-top: 1em;
}

.cardbox__load-more-wrapper--collapsed {
  overflow: hidden;
  flex: 0;
  border: 0px;
  padding: 0;
}
