.header {
  background-color: var(--header-bg-color);
  max-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5em + 1vmin);
  color: var(--header-color);
  box-shadow: 0 4px 8px 0 var(--box-shadow-color);

  &__text {
    margin: 0;
    padding: 0.2em;
  }


}
