.card {
  background-color: var(--card-bg-color);
  height: 380px;
  max-width: 266px;
  flex: 1 1 auto;
  margin: 0 5px 5px 5px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 4px 8px 0 var(--box-shadow-color);
  transition: 0.3s;

  &--used {
    opacity: 0.5;

    @media only screen
      and (max-width: 420px) {
        display: none;
    }
  }

  &:hover {
    box-shadow: 0 16px 32px 0 var(--box-shadow-color);
  }

  &__image {
    max-width: 266px;
    height: 150px;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__headline-area {
    text-align: top;
    width: 100%;
    overflow: hidden;
    font-size: 0.8em;
    height: 35%;
    flex-grow: 1;
    display: flex;
    color: var(--card-text-color);

    &--text {
      padding: 0.2em;
    }

    &--link {
      margin: auto;
      color: inherit;
      text-decoration: inherit;
    }
  }

  &__action-area {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 10%;
    background-color: var(--main-bg-color);
  }

  &__publisher {
    font-size: 0.8em;
    flex-grow: 2;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    color: var(--card-text-color);
  }

  &__publisher-name {
    margin: 0;
    padding: 0.5rem;
  }
}
