/* Light mode */
.light {
  --main-bg-color: #dfe6e9;
  --main-color: black;
  --header-bg-color: #282c34;
  --header-color: white;
  --card-bg-color: white;
  --box-shadow-color: rgba(0,0,0,0.2);
  --button-border: black;
  --button-hover: lightgray;
  --like-button-hover: rgba(255, 0, 255, 1);
  --like-button-clicked: rgba(255, 0, 255, 0.7);
  --footer-border: black;
}


/* Dark mode */
.dark{
  --main-bg-color: #282c34;
  --main-color: white;
  --header-bg-color: #17191e ;
  --header-color: white;
  --card-bg-color: #3d4148;
  --box-shadow-color: rgba(0,0,0,0.2);
  --button-border: darkgray;
  --button-hover: darkgray;
  --like-button-hover: rgba(238, 130, 238, 1);
  --like-button-clicked: rgba(238, 130, 238, 0.7);
  --footer-border: darkgray;
}

.App-searchbar {
  border: 3px solid #d3d3d3;
  color: #d3d3d3;
  width: 960px;
  height: 2em;
  font-size: 1.2em;
  text-align: left;
  padding-left: 0.5em;
  margin: auto;
  margin-top: 0.5em;
}

.App-searchbar > p {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
