.footer {
  justify-content: center;
  margin-bottom: 1em;
  font-size: 0.7em;
  flex-shrink: 0;

  &--links {
    text-decoration: underline;
    color: var(--main-color);
  }

  &--spacing {
    margin-right: 0.5em;
  }
}
